.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

:root {
  --calendar-size: 500px;
  --green-color: #5cd17b;
  box-sizing: border-box;
}

button {
  border: 0;
}

.calendar {
  display: none;
  position: absolute;
  top: 55px;
  width: var(--calendar-size);
  min-width: 170px;
  background-color: white;
  z-index: 100;
  font-size: calc(var(--calendar-size) * 0.03);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.calendar.active,
.calendar.active + .backdrop {
  display: block;
}

.calendar-open-btn {
  padding: 10px 20px;
  background-color: white;
  outline: 1.5px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.calendar-open-btn:focus {
  outline: 2px solid #4285f4;
}

.calendar-nav {
  background-color: var(--green-color);
  color: white;
  width: var(--calendar-size);
  height: calc(var(--calendar-size) * 0.2);
  min-width: 170px;
  min-height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

time {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 1.5em;
}

.prev-month,
.next-month {
  padding: calc(var(--calendar-size) * 0.01);
  text-align: center;
  background: none;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.prev-month div {
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: calc(var(--calendar-size) * 0.02) solid transparent;
  border-top: calc(var(--calendar-size) * 0.02) solid transparent;
  border-left: calc(var(--calendar-size) * 0.02) solid transparent;
  border-right: calc(var(--calendar-size) * 0.02) solid white;
}

.next-month div {
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: calc(var(--calendar-size) * 0.02) solid transparent;
  border-top: calc(var(--calendar-size) * 0.02) solid transparent;
  border-left: calc(var(--calendar-size) * 0.02) solid white;
  border-right: calc(var(--calendar-size) * 0.02) solid transparent;
}

.calendar-grid {
  width: var(--calendar-size);
  height: var(--calendar-size);
  min-width: 170px;
  min-height: 170px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  font-size: 1em;
}

.calendar-grid div {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-grid div[class$="transparent"] {
  color: rgba(0, 0, 0, 0.2);
}

.calendar-grid .day:not(.not-hover):hover {
  color: white;
  background-color: var(--green-color);
  cursor: pointer;
}

.calendar-grid div.sunday {
  color: red;
}

.calendar-grid div.select-day {
  color: white;
  background-color: var(--green-color);
}

.calendar-grid div.today {
  border: 1px solid var(--green-color);
}
